body {
	 background: #ffffff;
 }
  p{
     text-overflow: wrap;
     text-align: left;
     margin: 10px;
     font-family: "Trebuchet MS",Helvetica,sans-serif;
     font-size: 0.875em;
     font-weight: bold;
}

a{
	text-decoration: none;
}

div{
	position: absolute;
	top: 0px;
     left: 0px;
	transition:all 2s ease;
}
div:hover{
	transform: rotate(0.5deg);
}

img{
	width: 95px;
	height: 100px;
	margin: 10px;
}


.pee{
	text-align: left;
	margin: 10px;
}