body {
	 background: #FFFFFF;
 }
 
 #board1{
	color: rgba(0,0,0,1);
}

#d1{
     width: 80%;
     height: auto;
	background: pink;
	margin: auto;
}

#d2{
	width:80%;
	height: auto;
	margin: auto;
}

p{
	margin-left: 10px;
	font-size: 24px;
}

input{
	width: 90%;
	height:80px;
	border-radius: 20px;
}

button{
	border-radius: 20px;
}

 