body {
	 background: #FFFFFF;
 }
 
 #root{
	width: 550px;
	height: 550px;
	background: gainsboro;
}

#disp{
	font-size: 60px;
	color: red;
	text-align: center;
}

#disp2{
	font-size: 55px;
	color: blue;
	text-align: center;
}

#contr{
width: 550px;
height: auto;
margin: auto;
border: solid;
border-width: thin;
}

#ans,#btn,#btn2{
	margin-left: 10px;
}

#ans{
	width: 90%;
	height: 50px;
}

.btnp{
	font-size: 25px;
}