body {
	 background: #FFFFFF;
 }
 
 #root{
	width: 250px;
	height: 200px;
	background: rgba(100,10,50,0.5);
	box-shadow: 10px 10px 10px rgba(0,0,0,1);
	border-radius: 5px;
}

#disp{
	font-size: 30px;
	color: red;
	text-align: center;
	text-shadow:2px 3px 4px black;
}

#disp2{
	font-size: 25px;
	color: blue;
	text-align: center;
	text-shadow: 2px 3px 4px black;
}

#contr{
width: 250px;
height: auto;
margin: auto;
}

#ans,#btn{
	margin-left: 10px;
}

input,#btn,#btn2,#btn3{
	border-radius:10px;
	background: rgba(10,105,30,0.5);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	color: crimson;
	font-weight: bold;
}